.SidebarContainer{
    width:340px;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
    display:block;
}
.SidebarButton{
    margin-left : calc(340px - 18px);
    margin-top : calc(50vh - 18px);
    position: fixed;  
    width:36px;
    height:36px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 20px;
    outline: none;
    font-size:30px;
    color:rgb(255, 255, 255);
    z-index: 2;
    background-color: rgb(64, 108, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}