.SidebarContainer{
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
    display:block;
}
.SidebarButton{
    margin-left : 50vw;
    margin-top : 50vh;
    position: absolute; 
    width:500000px;
    height:400000px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(101, 145, 105);
    border-radius: 20px;
    outline: none;
    font-size:30px;
    color:rgb(255, 255, 255);
    z-index: 3;
    background-color:rgb(101, 145, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}