.SidebarContainer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}
.SidebarButton{
    position: absolute;
    margin-left: 340px;
    margin-top: calc(50vh - 20px);
    width: 18px;
    height:40px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(101, 145, 105);
    border-radius: 20px;
    outline: none;
    font-size:30px;
    color:rgb(255, 255, 255);
    z-index: 3;
    background-color:rgb(101, 145, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}