.SidebarContainer{
    height: calc(100% - 6px);
    display:flex;
    position: fixed;
    top: 3px;
    left: var(--NW);
    z-index: 2;
}
.SidebarButton{
    position: fixed;
    left: calc(var(--SW) + var(--NW));
    top: calc(50vh - var(--SBH));
    width: var(--SBW);
    height: var(--SBH);
    border-style: none;
    border-radius: 20px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--STrans);
    transition-timing-function: var(--STransF);
    color:var(--THEME4);
    background-color:var(--THEME1);
    z-index: 3;
}