@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
#chatlisthead{
    height:40px;
    background-color: rgb(101, 145, 105);
    font-size: 22px;
    font-family: 'Jua', sans-serif;
}
