form{
    width:100%;
    height:100px;
    display: flex;
}
textarea{
    width:100%;
    flex:1;
    background-color: whitesmoke;
    color: black;
    outline:none;
    resize:none;
}
.upperbutton{
    width: 50px;
    background-color:#4ed48b;
    border: none;
}
#sendbutton{
    border: none;
}
.chat{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: white;
    position: relative;
}
.chatHead{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#4ed48b;
}
.chatBody{
    width:100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.chatUnder{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
background-color: #4c4c6a;
border-radius: 2px;
}
.MyRow{
    width:100%;
    display:flex;
    justify-content: flex-end;
    margin-top:10px;
}
.MyMsgInfo{
    display:flex;
}
.MyTime{
    width: 10%;
    height: 10px;
    font-size: 7px;
    position: relative;
    right:5px;
    bottom:5px;
    align-self: flex-end;
}
.MyMsg{
    width:45%;
    background-color:#c2f598;
    padding:10px;
    margin-right:5px;
    text-align:center;
    border-radius: 10px;
    word-break: break-all;
    white-space:pre;
}
.PeerRow{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:10px;
}
.PeerInfo{
    width:100%;
    height:12px;
    margin-top:0px;
    display:flex;
    flex-direction: row;
}
.PeerName{
    width:10%;
    height:7px;
    font-size: 7px;
    
    text-align:center;
    
}
.PeerMsgInfo{
    display: flex;
}
.PeerMsg{
    width:45%;
    background-color: lightgray;
    padding:10px;
    margin-right:5px;
    text-align:center;
    border-radius:10px;
    word-break: break-all;
    white-space:pre;
}
.PeerTime{
    width: 10%;
    height: 10px;
    font-size: 7px;
    position: relative;
    left:5px;
    bottom:5px;
    align-self: flex-end;
}
#backBtn{
    position: absolute;
    left:0px;
}
#exitChatroomBtn{
    position: absolute;
    right:0px;
}