@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.ChatroomBoxRaw{
    width:100%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border-bottom: 1px solid;
    border-color: var(--CBR_B_C,#D3D3D3);
    color: var(--CBR_C, #000000);
    background-color: var(--CBR_BC, #F5F5F5);
}
.ChatroomBoxRaw:hover{
    background-color: var(--CBRH_BC,#DADADA);
}
.upper{
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;
    position: relative;
}
#name{
    height:30px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    margin-left: 20px;
    margin-top: 5px;
}
.ActivationNum{
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: var(--AN_BC,#D46161);
}
.lower{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    position: relative;
}
#message{
    width: 200px;
    position: absolute;
    left:20px;
    bottom:15px;
    display:block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    color : var(--CBRM_C,#000000);
}
#time{
    font-size: 12px;
    color:var(--CBRT_C, #D3D3D3);
    display: flex;
    position: absolute;
    right:10px;
    bottom:10px;
}