@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.ChatroomBoxRaw{
    width:100%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: 2px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
    border-color: black;
    background-color: whitesmoke;
}
.upper{
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;

}
#name{
    height:30px;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
    margin-left: 20px;
    margin-top: 5px;
}
.ActivationNum{
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10px;
    border-radius: 50%;
    background-color: #FF6666;
}
.lower{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;

}
#message{
    height:50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#time{
    width:170px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}