@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.home{    
    font-family: 'Jua', sans-serif;
}
#homehead{
    height:40px;
    background-color: rgb(101, 145, 105);
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}
#homebody{
    font-size: 20px;
}