@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.home{
    font-family: 'Jua', sans-serif;
}
#homehead{
    background-color: rgba(21, 124, 38, 0.616);
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}
#homebody{
    width: 340px;
    height: calc(100vh - 50px);
    font-size: 20px;
    overflow: auto;
}