.SigninMain{
    display: flex;
    flex-direction: column;
    align-content: relative;
    height : 600px;
    width : 314px;    
    margin: 10px;
    border-style: solid;
    border-width : 1px;
    border-radius: 5px;
    border-color : gray;
    align-items: center;
  }
.MarginTop{
    margin-top : 50px;    
}
.Icon{
    max-width: 100px;    
    max-height: 100px;
}
.SigninRow{
    display: flex;
    flex-direction: row;
}