@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.Map{    
    width:calc(100% - 62px);
    height: calc(100vh - 6px);
    position: fixed;
    top:0px;
    left:60px;
    z-index: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: rgb(228, 240, 255);
    font-family: 'Jua', sans-serif;
}