@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.Map{    
    width:calc(100% - var(--NW) - var(--BW1));
    height: calc(100% - var(--BW1) * 2);
    position: fixed;
    top: 0px;
    left: var(--NW);
    z-index: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: var(--BW1);
    border-color: var(--M_B_C, #659169); 
}