@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.Mypage{
    width : 340px;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.mypagebody{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mypagehead{
    width: 340px;
    height:40px;
    background-color:rgb(101, 145, 105);    
    text-align: center;    
    font-size: 22px;
    font-family: 'Jua', sans-serif;
}
.mypageprofile{
    margin-top:100px;    
    max-width: 150px;    
    max-height: 150px;
}