@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.mypagebody{
    display:flex;
    flex-direction: column;
    align-items: left;    
}
.mypagerow{
    display: flex;
    flex-direction: row;       
    padding:0;
    margin-left: 50px;
    align-self: left;
}
.mypageedit{
    width:23px;
    height:24px;
    padding:0px;
    margin-top:28px;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    align-content: center;    
}