.Navigation{
    width: 59px;
    height:100vh;
    background-color: rgb(227, 255, 254);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(200,200,200);
    display:flex;
    flex-direction: column;
}
.NavigationIcon{
    width: 50px;
    height:50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right:0px;
    color: #55aa55;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:white;
    border-radius: 10px;    
}
.NavigationIcon:hover{
    color:white;
    background-color: #5555ff;
}