.Navigation{
    width: var(--NW);
    height: 100%;
    background-color: var(--THEME1);
    display:flex;
    flex-direction: column;
    position: fixed;
    z-index:3;
}
.NavigationIcon{
    width: calc(0.8 * var(--NW));
    height: calc(0.8 * var(--NW));
    margin-top: calc(0.1 * var(--NW));
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;    
    transition: 0.3s;
    color : var(--THEME1);
    background-color : var(--THEME4);
}
.NavigationIconClick{
    width: calc(0.8 * var(--NW));
    height:calc(0.8 * var(--NW));
    margin-top: calc(0.1 * var(--NW));
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;    
    transition: 0.3s;
    color: var(--THEME4);
    background-color: var(--THEME2);
}
.NavigationIcon:hover{
    color:var(--THEME4);
    background-color: var(--THEME3);
}