@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
#nearhead{
    background-color: rgba(21, 124, 38, 0.616);
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}
.NearRaw{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: 2px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
    border-color: black;
    background-color: whitesmoke;
}
.ActivationNum{
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10px;
    border-radius: 50%;
    background-color: #FF6666;
}