.ActivationNum{
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10px;
    border-radius: 50%;
    background-color: #FF6666;
}