.sidebar{
    width: 340px;
    height:100%;
    background: white;
    display: flex;
}
.head{
    width:340px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}