.Sidebar{
    width: 100%;
    height: 100vh;
    background: rgb(231, 255, 233);
    display: flex;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color: rgb(200,200,200);
    margin:0px;
}
.head{
    width:340px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}