@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.Sidebar{
    height: calc(100vh - 6px);
    background: rgb(226, 235, 255);
    display: flex;
    border-right-style:solid;
    border-right-width:3px;
    border-right-color:rgb(101, 145, 105);
    border-bottom-style:solid;
    border-bottom-width:3px;
    border-bottom-color:rgb(101, 145, 105);
    margin : 0px;
    transition: 0.3s;
}
.SidebarContent{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.Sidebarhead{
    height:40px;
    width: 340px;
    line-height: 43px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    vertical-align: center;
    background-color: #659169;    
    font-family: 'Jua', sans-serif;
}
.Sidebarbody{
    max-height: calc(100vh - 43px);
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow: auto;
}