.sidebarBtn{
    width:400px;
    background-color: black;
    height:70px;
    display: flex;
    flex-direction: row;
    margin-top:auto;
}
#listBtn{
    flex:1;
    background-color: red;
    display: flex;
}
#chatBtn{
    flex:1;
    background-color: yellow;
    display: flex;
}
.btn {
    flex:1;
      /*---테두리 정의---*/
    background-Color:#8dce6e;   /*--백그라운드 정의---*/
    font:30px 굴림;      /*--폰트 정의---*/
    font-weight:bold;   /*--폰트 굵기---*/
    color:#ff0080;    /*--폰트 색깔---*/
    width:130;height:30;  /*--버튼 크기---*/
    }