#upperbar{
    width:100%;
    height: 50px;
    position:relative;
    display: flex;
}
#logo{
    width: 350px;
    height: 100%;
    background-color:rgb(78, 197, 62);
    text-align: center;
    flex: none;
    border-radius: 0px 15px 0px 0px;
}
.login_btn{
    width:50px;
    height: 100%;
    margin-left: auto;
}
.logoimg{
    width: 100px;
    align-items: center;
}
#login{
    width:50px;
    height: 100%;
}